HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Terraform state files (contain sensitive data)
*.tfstate
*.tfstate.backup

# Terraform configuration directory
.terraform/
.terraform.lock.hcl

# Crash logs (if Terraform crashes)
crash.log

# Ignore any Terraform execution plans
*.tfplan

# Ignore sensitive variables files
*.tfvars
*.tfvars.json

# Ignore temporary files
.terraformrc
terraform.rc

# Ignore editor-specific or OS-specific files (optional)
.idea/
.DS_Store
Thumbs.db
